#El parámetro node-linker=hoisted en el archivo .npmrc controla cómo se instalan las dependencias en tu monorepo. Específicamente:
#¿Qué significa?
#hoisted (elevado): Crea una sola carpeta node_modules en la raíz del proyecto
node-linker=hoisted
